name: .NET Windows

on:
  push:
    branches: [ "dev-windows" ]
  pull_request:
    branches: [ "dev-windows" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        dotnet-version: [6.0.x, 7.0.x, 8.0.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Publish Self-Contained
      run: dotnet publish -r win-x64 -c Release --self-contained true -p:PublishSingleFile=true

    - name: Test
      run: dotnet test --no-build --verbosity normal
